/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #669bdb;
  --ifm-color-primary-dark: #4c8ad5;
  --ifm-color-primary-darker: #3f82d2;
  --ifm-color-primary-darkest: #2b6ab6;
  --ifm-color-primary-light: #80ace1;
  --ifm-color-primary-lighter: #8db4e4;
  --ifm-color-primary-lightest: #b4ceed;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7aa4e5;
  --ifm-color-primary-dark: #5d90df;
  --ifm-color-primary-darker: #4e86dc;
  --ifm-color-primary-darkest: #2869ce;
  --ifm-color-primary-light: #97b8eb;
  --ifm-color-primary-lighter: #a6c2ee;
  --ifm-color-primary-lightest: #d2e0f6;
}
